<!-- UCSF Banner Here -->
<div class="w3-top">
  <div id="ucsf-banner-nav" class="no-logo">
    <div class="top-header-container row">
        <ul class="menu">
          <li class="first"><a href="http://www.ucsf.edu">University of California San Francisco</a></li>
          <li><a href="http://www.ucsfhealth.org/">UCSF Medical Center</a></li>
          <li><a href="http://www.ucsf.edu/search" title="">Search UCSF</a></li>
          <li><a href="http://www.ucsf.edu/about">About UCSF</a></li>
        </ul>
    </div>
  </div>
</div>
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  body, html {
      height: 100%;
      line-height: 1.8;
  }
  /* Full height image header */
  .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("/img/false_colored_muscle_fibers.jpg");
      min-height: 50%;
  }
  .w3-bar .w3-button {
      padding: 16px;
  }
  </style>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card-2" id="myNavbar">
      <a href="/" class="w3-bar-item w3-button w3-wide">REITER LAB</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a href="/" class="w3-bar-item w3-button">HOME</a>
        <a href="{{ site.baseurl }}/people" class="w3-bar-item w3-button"><i class="fa fa-user"></i> PEOPLE</a>
        <a href="{{ site.baseurl }}/research" class="w3-bar-item w3-button"><i class="fa fa-th"></i> RESEARCH</a>
        <a href="{{ site.baseurl }}/publications" class="w3-bar-item w3-button"><i class="fa fa-book"></i> PUBLICATIONS</a>
        <a href="{{ site.baseurl }}/contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->

      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close &times;</a>
    <a href="#/" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
    <a href="{{ site.baseurl }}/people" onclick="w3_close()" class="w3-bar-item w3-button">PEOPLE</a>
    <a href="{{ site.baseurl }}/research" onclick="w3_close()" class="w3-bar-item w3-button">RESEARCH</a>
    <a href="{{ site.baseurl }}/publications" onclick="w3_close()" class="w3-bar-item w3-button">PUBLICATIONS</a>
    <a href="{{ site.baseurl }}/contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
  </nav>

 <!-- Header with full-height image -->
 <header class="bgimg-1 w3-display-container" id="home">
   <div class="w3-display-left w3-text-white" style="padding:48px">
 </div>
    <!-- <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
     <i class="fa fa-facebook-official w3-hover-opacity"></i>
     <i class="fa fa-instagram w3-hover-opacity"></i>
     <i class="fa fa-snapchat w3-hover-opacity"></i>
     <i class="fa fa-pinterest-p w3-hover-opacity"></i>
     <i class="fa fa-twitter w3-hover-opacity"></i>
     <i class="fa fa-linkedin w3-hover-opacity"></i>
   </div> -->
 </header>

 <!--Footer END -->

 <!--SCRIPTS HERE -->

 <!-- Add Google Maps -->
 <script>
 function myMap()
 {
   myCenter=new google.maps.LatLng(41.878114, -87.629798);
   var mapOptions= {
     center:myCenter,
     zoom:12, scrollwheel: false, draggable: false,
     mapTypeId:google.maps.MapTypeId.ROADMAP
   };
   var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

   var marker = new google.maps.Marker({
     position: myCenter,
   });
   marker.setMap(map);
 }

 // Modal Image Gallery
 function onClick(element) {
   document.getElementById("img01").src = element.src;
   document.getElementById("modal01").style.display = "block";
   var captionText = document.getElementById("caption");
   captionText.innerHTML = element.alt;
 }


 // Toggle between showing and hiding the sidebar when clicking the menu icon
 var mySidebar = document.getElementById("mySidebar");

 function w3_open() {
     if (mySidebar.style.display === 'block') {
         mySidebar.style.display = 'none';
     } else {
         mySidebar.style.display = 'block';
     }
 }

 // Close the sidebar with the close button
 function w3_close() {
     mySidebar.style.display = "none";
 }
 </script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
 <!--
 To use this code on your website, get a free API key from Google.
 Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
 -->
 <!--END SCRIPTS-->
